aiohttp
beautifulsoup4
#git+git://github.com/google/chatbase-python.git
hachoir
numpy
Pillow
#https://github.com/mahesh0253/pyrogram/archive/asyncio.zip
pyrogram>=2.0.30
requests
tgcrypto
youtube-dl
git+https://github.com/rthalley/dnspython.git
pymongo
